@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  color: white;
  /* background-image: linear-gradient(to bottom right, rgb(77, 116, 243), rgb(116, 230, 214)); */
  background-color: black;
  height: 100vh;
}

input {
  background-color: #121212;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  width: 70px;
}

.promoters p,
.promoters input {
  color: #6dd941;
}

.passives p,
.passives input {
  color: #e9f817;
}

.detractors p,
.detractors input {
  color: #f9114f;
}

.user-select-none {
  background-color: #121212;
}

.slider-container {
  margin-top: 10px;
}

.gauge-container {
  margin-top: 30px;
}

.gauge-container,
.slider-container {
  border-radius: 10px;
  background:#121212;
}

.promoters, 
.passives, 
.detractors, 
.gauge-container  {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gauge-container,
.detractors {
  padding-bottom: 20px;
}

.NPS-Score {
  text-align: center;
  font-size: 1.4rem;
  padding-top: 20px;
  color: #55bfdb;
}

/* SLIDER COLORS AND STYLES */

.promoter-slider{
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 30px;   
  background: #6dd941;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.promoter-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #5bb637;
  cursor: pointer;
}

.promoter-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #5bb637;
  cursor: pointer;
}

.passive-slider{
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 30px;   
  background: #e9f817;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.passive-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #dbe916;
  cursor: pointer;
}

.passive-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #dbe916;
  cursor: pointer;
}

.detractor-slider{
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 30px;   
  background: #f9114f;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.detractor-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #df0e46;
  cursor: pointer;
}

.detractor-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #df0e46;
  cursor: pointer;
}